html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing:inherit;
}

body {
    margin-top:15px;
    margin-left:100px;
    margin-right:100px;
    text-align:center;
}
H1 {
    font-family:"proxima nova";
    font-weight:100;
    font-size:43px;
    color:#2a3f82;
    text-align:center;
}
a {
    text-decoration: inherit;
}

.Button {
    font-family: "proxima nova";
    font-weight: bold;
    font-size: 25px;
    margin:20px;
    display:inline-block;
    width:255px;
    border-radius: 50px;
    padding: 10px 10px;
    -webkit-transition-duration:300ms;
    transition-duration: 300ms;
}
.LightBlue {
    color: #31A6FF;
    border: solid 4px #31A6FF;
}
.Yellow {
    color: #f4ce42;
    border: solid 4px #f4ce42;
}
.Orange {
    color:#f48942;
    border:solid 4px #f48942;
}
.Black {
    color:#262521;
    border:solid 4px #262521;
}
.DarkBlue {
    color:#0b278c;
    border:solid 4px #0b278c;
}
.Maroon {
    color:#8c110b;
    border:solid 4px #8c110b;
}
.Green {
    color:#327c2c;
    border:solid 4px #327c2c;
}
.Red {
    color:#c90a1d;
    border:solid 4px #c90a1d;
}
.Grey {
    color:#696c75;
    border:solid 4px #696c75;
}
.LightBlue:hover {
    background-color: #31A6FF;
    color: #fff;
}
.Orange:hover {
    background-color:#f48942;
    color: #fff;
}
.Yellow:hover {
    background-color: #f4ce42;
    color:#fff;
}
.Black:hover {
    background-color: #262521;
    color:#fff;
}
.DarkBlue:hover {
    background-color:#0b278c;
    color:#fff;
}
.Maroon:hover {
    background-color:#8c110b;
    color:#fff;
}
.Green:hover {
    background-color:#327c2c;
    color:#fff;
}
.Red:hover {
    background-color:#c90a1d;
    color:#fff;
}
.Grey:hover {
    background-color:#696c75;
    color:#fff;
}